<% provide(:title, "About") %>
<h1>About</h1>
<p>
	Our team consists of Keri Kramer (founder) and Cristen Anderson (developer). Keri says the following about Hospital Hangout:
</p>
<p> 
	"I came up with this idea when my sister’s best friend was hospitalized during his cancer treatments at Children’s Hospital Los Angeles. His mother shared with me that a lot of the other children who were hospitalized for long durations were not able to attend school or meet/hang out with friends, which made them feel isolated and lonely. A few months later, I came across an article that shared the story of a young girl who had been diagnosed with an extremely rare skin condition. At the end of the article it told how she connected with another girl who faced condition. I was motivated to help and decided to create this website, 'Hospital Hangout!'"
</p>
