<div class="content">
	<h1 class="title">Welcome!</h1>
	<p>
		Hospital Hangout is a social network for young hospital patients. It enables patients to connect with others like them through chatting, video chatting, and multiplayer games. For more information, check out our <%= link_to "about", about_path %> section. 
	</p>
	<ul>
		<li id="signup"><%= link_to "Sign up now!", signup_path %></li>
		<li id="login"><%= link_to "I have an account, log in!", '#' %></li>
	</ul>
</div>

