<div class="content">
	<h1>Welcome!</h1>
	<h2 class="lead">
		Hospital Hangout is a social network for young hospital patients. It enables patients to connect with others like them through chatting, video chatting, and multiplayer games. For more information, check out our <%= link_to "about", about_path %> section. 
	</h2>
	<p>
		<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-success" %>
		<%= link_to "I have an account, log in!", '#', class: "btn btn-lg btn-link" %>
	</p>
</div>

