<% provide(:title, "Home") %>
<h1>Hospital Hangouts</h1>
<p>
	Hospital Hangouts is a social network for young hospital patients. It enables patients to connect with others who are in their situation through chatting, video chatting, and multiplayer games.
</p>
<p>
	 Hospital Hangouts has a professional-grade authentication system to keep patients' information secure, including partnerships with hospitals to provide each patient with a unique login key. 
</p>
