<div>
	<h1>Hospital Hangout</h1>
	<h2>
		Hospital Hangout is a social network for young hospital patients. It enables patients to connect with others like them through chatting, video chatting, and multiplayer games. For more information, check out our <%= link_to "About", '#' %> section. 
	</h2>
	<ul>
		<li><%= link_to "Sign up now!", '#'%></li>
		<li><%= link_to "I have an account, log in!", '#'%></li>
	</ul>
</div>

