<% provide(:title, "Hospitals") %>
<div class="content">
	<h2 class="title">Our Hospitals</h2>
	<p>
		We are currently looking for hospitals to support this web application! Please see our <%= link_to 'contact', contact_path %> page to suggest hospitals or let us know if you are interested.
	</p>
	<div id="login"><%= link_to "I am a registered hospital, log in!", hospital_login_path %></div>
</div>