<% provide(:title, "Hospitals") %>
<div class="jumbotron">
	<h3>Our Hospitals</h3>
	<p>
		We are currently looking for hospitals to support this web application! Please see our <%= link_to 'contact', contact_path %> page to suggest hospitals or let us know if you are interested.
	</p>
</div>