@import "bootstrap-sprockets";
@import "bootstrap";

/*********************************************************
GENERAL
*********************************************************/

.jumbotron {
	background-color: #FFB94E;
}

body {
	background-color: #22A7F0;
}

/*********************************************************
HEADER
*********************************************************/

header {
	background-color: #87D37C;
	border-radius: 10px;
	padding: 20px
}

#logo {
	font-size: 4em;
	color: #fff;
	&:hover {
		text-decoration: none;
	}
}

/*********************************************************
FOOTER
*********************************************************/

footer {
	color: #fff;
	margin: 5px;
	a {
		color: #000;
	}
	small {
		float: left;
	}
	ul {
		float: right;
		list-style: none;
		li {
				float: left;
				margin-left: 15px;
		}
	}
}