
/*****************************************
VARIABLES AND MIXINS
*****************************************/
$orange: #FFB94E;
$blue: #4B77BE;
$green: #87D37C;
$background: #4B77BE; /*#22A7F0;*/

@mixin block-center {
	display: block;
	text-align: center;
}

@mixin button($background-color, $text-color, $border-color,
							$hover-color) {
	display: block;
	text-align: center;
	border: 1px solid $border-color;
	border-radius: 5px;
	background-color: $background-color;
	a { 
		color: $text-color; 
		display: block;
		text-align: center;
		padding: 10px 15px;
	}
	&:hover { background-color: $hover-color; }
}

@mixin input-button($background-color, $text-color, 
										$border-color, $hover-color) {
	text-align: center;
	border: 1px solid $border-color;
	border-radius: 5px;
	background-color: $background-color;
	padding: 10px 15px;
	color: $text-color; 
	&:hover { border-color: $hover-color; }
}

/*****************************************
Page styles
*****************************************/

body {
	font-family: 'Arimo', sans-serif;
	font-weight: normal;
	background-color: $background;
	font-size: 0.8em;
}

.wrapper {
	width: 100%;
	margin: auto;
}

a {
	text-decoration: none;
	color: $blue;
}

/*****************************************
HEADER & NAVIGATION
*****************************************/
header {
	padding: 20px;
	background-color: $green;
	nav {
		@include block-center;
		width: 100%;
	}
}

.nav-item {
	@include block-center;
	@include button(clear, $blue, $blue, white);
	&.active {
		background-color: $blue;
		a {
			color: white;
		}
	}
}

/*****************************************
LOGO
*****************************************/
#logo {
	@include block-center;
	font-weight: normal;
	width: 100%;
	margin: 0 0 20px 0;
	a {
		@include block-center;
		padding: 10px 15px;
	}
	color: white;
}

/*****************************************
CONTENT
*****************************************/

.content {
	background-color: $orange;
	padding: 40px;
	margin: 0;
	text-align: center;
	#signup {
		@include button($green, white, $green, white);
		margin: 20px 5px 0;
		display: inline-block;
	}
	#login {
		@include button($blue, white, $blue, white);
		margin: 20px 5px 0;
		display: inline-block;
	}
	h1 {
		font-size: 5em;
		font-weight: normal;
		margin: 0;
	}
	h2 {
		margin: 0;
	}
	p {
		font-size: 1.2em;
	}
}

.form {
 	display: table;
 	margin-left: auto;
 	margin-right: auto;
 	border-spacing: 10px;
	.cell {
		display: table-cell;
		text-align: left;
		label {
			white-space: nowrap;
		}
	}
	label {
		margin: 0 10px 0 0;
		vertical-align: middle;
		text-align: right;
		font-size: 1.3em;
	}
	input {
		@include input-button($blue, white, $blue, white);
		vertical-align: middle;
	}
	.button {
		input {
			@include input-button($green, $blue, $green, white);
			width: 100%;
		}
	}
	.row {
		display: table-row;
	}
}

/*****************************************
FOOTER
*****************************************/
footer {
	padding: 5px;
	.copyright, nav, nav ul li {
		display: inline-block;
	}
	.copyright {
		margin-right: 20px;
	}
	nav {
		float: right;
	}
	& nav ul li {
		margin-right: 10px;
	}
	color: white;
	& a {
		text-decoration: none;
		color: black;
	}
}

/*****************************************
MEDIA QUERIES
*****************************************/
@media only screen and (min-width: 540px) {

	.wrapper {
		width: 90%;
	}

	header {
		margin-top: 20px;
		padding-bottom: 5px;
		border-radius: 10px;
		nav {
			display: inline-block;
			text-align: left;
		}
		.float-right {
			float: right;
			margin-right: 4px;
		}
	}

	.nav-item {
		display: inline-block;
		border: none;
	}

	.form {
		.cell {
/*			text-align: left;
			width: initial;*/
		}
	}

	#logo {
		text-align: left;
		font-size: 4em;
	}

	div.content {
		border-radius: 10px;
		margin-top: 20px;
	}
}


@media only screen and (min-width: 768px) {
	body {
		font-size: 0.9em;
	}
	div.content {
		text-align: left;
		padding: 60px;
	}

	.form {
		margin: 0;
		label {
			text-align: left;
		}
	}
}

@media only screen and (min-width: 1068px) {
	body {
		font-size: 1em;
	}
}

/*****************************************
ERRORS AND DEBUG
*****************************************/

.field_with_errors {
	input {
		background-color: red;
	}
}

small.error {
	color: red;
}

/*.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}*/


