<footer>
  <small>
    The Hospital Hangout App
    by <a href="https://www.linkedin.com/in/cristenanderson">Cristen Anderson</a> and Keri Kramer
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>