<footer class="footer">
  <small>
    Hospital Hangout &copy 2015
    by <a href="https://www.linkedin.com/in/cristenanderson">Cristen Anderson</a> and Keri Kramer
  </small>
  <nav>
    <ul>
      <li><small><%= link_to "About",   about_path %></small></li>
      <li><small><%= link_to "Contact", contact_path %></small></li>
    </ul>
  </nav>
</footer>